openapi: 3.0.3
info:
  title: Cinema ticket pricing API
  description: Cinema ticket pricing API
  version: 0.1.9

servers:
  - url: http://localhost:8080
    description: Optional server description, e.g. Main (production) server

paths:
  /api/v1/transactions/calculate-pricing:
    post:
      operationId: calculatePricing
      tags:
        - Transactions
      summary: Calculate ticket prices.
      description: Calculate the breakdown of movie tickets and total cost based on multiple discount types.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'

      responses:
        "200": # status code
         description: Transaction details retrieved successfully
         content:
           application/json:
             schema:
               $ref: '#/components/schemas/TransactionResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    TransactionRequest:
      type: object
      required:
        - transactionId
        - customers
      properties:
        transactionId:
          type: integer
          format: int64
          description: unique transaction id
          example: 12
          minLength: 1
          maxLength: 10
        customers:
          type: array
          description: list of customers
          minItems: 1
          maxItems: 50
          items:
            $ref: '#/components/schemas/Customer'

    TransactionResponse:
      type: object
      required:
        - transactionId
        - tickets
        - totalCost
      properties:
        transactionId:
          type: integer
          format: int64
          description: unique transaction id
          example: 1234567890
        tickets:
          type: array
          description: list of tickets
          items:
            $ref: '#/components/schemas/Ticket'

        totalCost:
          type: number
          format: double
          description: total cost of the transaction
          example: 100.00

    Customer:
      type: object
      required:
        - name
        - age
      properties:
        name:
          type: string
          description: customer name
          example: Alex
          minLength: 3
          maximum: 150
        age:
          type: integer
          format: int32
          description: customer age
          example: 25
          minimum: 0
          maximum: 100
    Ticket:
      type: object
      properties:
        ticketType:
          type: string
          description: type of ticket
          example: Adult
          enum:
            - Children
            - Teen
            - Adult
            - Senior
        quantity:
          type: integer
          format: int32
          description: number of tickets
          example: 1
        totalCost:
          type: number
          format: double
          description: total cost of the ticket
          example: 100.00

    TicketType:
      type: string
      description: Type of ticket
      enum:
        - Children
        - Teen
        - Adult
        - Senior
      example: Adult

    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
          description: HTTP status code
          example: 400
        error:
          type: string
          description: error message
          example: Bad Request
        message:
          type: string
          description: error message
          example: Invalid request body
